#main_body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1em;
    margin: 10px;
}
input{
    height: 20px;
}
input[type="submit"]{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-left: 20px;
    grid-column: 1 / span 2;
    grid-row: 4;
    width: 100px;
}
.form{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-left: 20px;
}
#email{
    grid-column: 1 / span 2;
    grid-row: 2;
}
#comment{
    grid-column: 1 / span 2;
    grid-row: 3;
}
#comment input{
    height: 100px
}
textarea{
    background-color: #DEF2F1;
}
@media screen and (max-width: 600px) {
    #main_body {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        justify-items: center;
    }
    input {
        width: 100%;
        height: 40px;
    }
    .form{
        width: 80%;
    }
    #email {
        grid-column: auto;
        grid-row: auto;
    }
    #comment{
        grid-column: auto;
        grid-row: auto;
    }
    input[type="submit"]{
        grid-column: auto;
        grid-row: auto;
    }
}