#main_body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 2em;
    margin: 10px;

}
input{
    width: 80%;
    height: 40px;
}
#email{
    grid-column: 1 / span 2;
    grid-row: 2;
}
#comment{
    grid-column: 1 / span 2;
    grid-row: 3;
}
#comment input{
    height: 100px
    resize: none;
}
textarea{
    width: 80%;
    background-color: #DEF2F1;
}
#email, #comment, #f-name, #l-name{

}