body {
	background-color:hsl(222, 15%, 87%);
	font-family: Libre Baskerville;
	margin: 0px;
}
a {
	text-decoration: none;
}
header div{
	height: 100px;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-evenly;
	border-style: solid;
	margin: 10px;


}
header div input{
	min-width: 5px;
    flex-grow: 4;
}
header div img {
	height: 100px;
#home{
	margin: 0%;
}

}
header div a{
	color: green;
	width: fit-content;
	margin-right: 10px;
	margin-left: 10px;
}
 {

}
header div a:hover {
	color: red;
}
h1 {
    color: blue;
}
footer{
	align-items: center;
	display: flex;
	flex-direction: column;
	background-color: aqua;
}

footer #terms, #logos{
	width: 90%;
	margin: 50px;
	border-color: black;
	border-style: solid;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
footer p{
	margin-right: 5px;
	margin-left: 5px;
}

@media screen {
	header{

	}
}