body {
	background-color:#3AAFA9;
	font-family: Libre Baskerville;
	margin: 0px;
}

header{
	background-color: #2B7A78;
	height: 100px;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-evenly;
	border-style: solid;
	margin: 10px;
}
header input{
	min-width: 5px;
    flex-grow: 4;
}
#logo{
	height: 100px;
	margin: 0%;
	margin-right: 10px;
}
header img{
	height: 100px;
}
header a{
	height: 0%;
}

#contact{
	color: #DEF2F1;
	background-color: #17252A;
	width: fit-content;
	margin-right: 10px;
	margin-left: 10px;
	height: auto;
	padding: 5px;
	border-width: 5px;
}
input {
	background-color: #DEF2F1;
	height: 40px;
}


#contact:hover {
	color: red;
}
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #2B7A78;
	padding: 10px;
	transition: all 0.3s ease;
}
.navbar a {
	color: #DEF2F1;
	padding: 14px 20px;
	text-decoration: none;
	text-align: center;
}
.navbar a:hover {
	background-color: #3AAFA9;
	color: black;
}
.navbar .menu-icon {
	display: none;
	color: white;
	cursor: pointer;
}
@media screen and (max-width: 600px) {
	.navbar .menu-icon {
		display: block;
	}
	.navbar.vertical {
		flex-direction: column;
		align-items: center;
	}
	.navbar.vertical a {
		display: block;
		width: 100%;
		text-align: center;
	}
	.navbar a {
		display: none;
	}
	.navbar.vertical .menu-icon {
		align-self: flex-end;
	}
}
h2 {
    color: #17252A;
}
h3 {
	color: #FEFFFF;
}
footer{
	align-items: center;
	display: flex;
	flex-direction: column;
	background-color: #17252A;
	position: relative;
	bottom: 0;
	width: 100%;
	margin-top: 200px;

}

footer #terms, #logos{
	width: 90%;
	margin: 50px;
	margin-top: 10px;
	border-color: black;
	border-style: solid;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
footer p{
	margin-right: 5px;
	margin-left: 5px;
	color: #DEF2F1;

}