#main_body{
    padding: 10px;
    background-color: #3AAFA9;
    display: flex;
    flex-direction: column;
}
#car{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#car img{
    max-width: 100%;
}
#specs{
    display: flex;
    flex-direction: column;
    align-items: center;
}